* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
  text-shadow: 2px 2px black;
}
header {
    background: #FF6B00;
    font-size: 2.9em;
    text-align: center;
    border: 6px solid white;
    border-radius: 50px;
    letter-spacing: 0.2em;
    margin: 20px auto;
    padding: 5px 10px;
    width: 60%;
}

#balls_ul {
  text-align: center;
  font-size: 1.8em;
}
.balls {
  background: #2478FF;
  border: 5px solid #00004A;
  border-radius: 50px;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 40px 30px;
  display: inline-block;
}
.lucky {
  background: #D62C2C;
  border: 5px solid #990202;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
}

#button_run {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
#button_run:hover {
  color: #fff;
  border: 1px solid #9BFF77;
  background: #9BFF77;
  transition: 1s;
}
