* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(180deg, blue, cyan);
  color: white;
  text-shadow: 2px 2px black;
}
header {
    background-image: linear-gradient(180deg, red, yellow);
    font-size: 2.9em;
    text-align: center;
    border: 6px solid white;
    border-radius: 50px;
    letter-spacing: 0.2em;
    margin: 20px auto;
    padding: 5px 10px;
    width: 60%;
}

#balls_ul {
  text-align: center;
  font-size: 1.8em;
}
.balls {
  background-image: linear-gradient(180deg, blue, cyan);
  border: 5px solid white;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
.balls_lucky {
  background-image: linear-gradient(180deg, blue, cyan);
  background-image: linear-gradient(180deg, blue, cyan);
  border: 5px solid white;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
