* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  text-shadow: 2px 2px black;
}
header {
    background: #FF6B00;
    font-size: 2.9em;
    text-align: center;
    border: 6px solid white;
    border-radius: 50px;
    letter-spacing: 0.2em;
    margin: 20px auto;
    padding: 5px 10px;
    width: 60%;
}

#balls_ul {
  text-align: center;
  font-size: 1.8em;
}
.balls {
  background-image: linear-gradient(180deg, cyan, blue);
  border: 5px solid white;
  border-radius: 50px;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 40px 30px;
  display: inline-block;
}
.lucky {
  background-image: linear-gradient(180deg, red, black);
  border: 5px solid white;
  font-size: 1.8em;
  list-style: none;
  width: 75px;
  height: 75px;
  line-height: 75px;
}
#button_run {
  background-image: linear-gradient(180deg, green, black);
  font-size: 1.8em;
  text-align: center;
  width: 150px;
  border: 5px solid white;
  border-radius: 25px;
  margin: 40px auto;
}
